# Python Basics

### to install the packages type this in each cell

write 
`'!pip install'` and then press `shift  + enter`

### Printing, Variables, Arithmetic

In [ ]:
# Demonstrate Print 'I already love Python'
print("i love python")
print("Hello Word!")
print("Hello FSUU.")
# It prints HW

i love python
Hello Word!
Hello FSUU.

In [ ]:
# Variables and assignment
a = 10
print(a)
b = 5
print(b)
numbers = 100
print(numbers)

10
5
100

In [ ]:
# Arithmetic Operators
print ("ARITHMETIC OPERATORS")
# Note variable values persist from previous cell
print (" value of a is ", a ," value of b is ", b )
print (a + b) # addition
print (a * b) # this is multiplication
print (a / b) # this is division
print (a - b) # subtraction
print (a % b) # modulus , it gets the remainder

print ("RELATIONAL OPERATORS")
# Relational Operators
print (a < b) # the anser will be a boolean result
print (a > b) # the anser will be a boolean result
print (a <= b)
print (a >= b)

c = 0
d = 0
print (c == d) #  0 == 0 thus it is True

print ("LOGICAL OPERATORS")
# logical Operators
print (True and True)
print ( False or True)
print ( not True)

ARITHMETIC OPERATORS
 value of a is  10  value of b is  5
15
50
2.0
5
0
RELATIONAL OPERATORS
False
True
False
True
True
LOGICAL OPERATORS
True
True
False

In [1]:
# Update
a = a + b
print (a)

NameError: name 'a' is not defined

In [ ]:
# Increment
a += b

print (a)

20

In [ ]:
5>>2

1

In [ ]:
10%10

0

### Types

In [5]:
# Main reason is when you forgot what is the type of that variable
# Dynamically-inferred types
a = 10
print (type(a))
a = '10'
print (type(a))
a = 10.0
print (type(a))

type(a)

<class 'int'>
<class 'str'>
<class 'float'>

float

In [ ]:
# Type-checking
a = 10
b = '5'
print (a + b)

TypeError: ignored

In [6]:
# Manual type-conversion (string to int)
a = 10
b = '5'
print (a + int(b))

15

In [ ]:
# Automatic type-conversion (int to float)
a = 10
print (type(a))
a += 5.0
print (a, type(a))

<class 'int'>
15.0 <class 'float'>

In [ ]:
# Integer division
a = 10
b = 5
print (a/b)
print (b/a)

2.0
0.5

In [ ]:
# Forcing float division
print (float(b/a))
# How to correct?

0.5

In [ ]:
# String "arithmetic" (actually concatenation)
a = 'Data '
b = 'Science'
print (a + b)

Data Science

### User Input

In [ ]:
a = input('Enter value 1: ')
b = input('Enter value 2: ')
print (int(a) + int(b))

Enter value 1: 100
Enter value 2: 100
200

In [ ]:
# Note: input() function expects number or quoted string
# Note: user input is common cause of stuck execution
a = input('Enter value 1: ')
b = input('Enter value 2: ')
#print (int(a) + int(b))
print (float(a) / float(b))

Enter value 1: 23
Enter value 2: 90
0.25555555555555554

### Conditional (If) Statements

In [ ]:
# If statements
# Unlike other languages, indentation is significant
a = -25
if a > 10:
    print ('a is greater than 10')
    if a >= 15:
        print ('a is also at least 15')
elif a > 5:
    print ('a is greater than 5 but not greater than 10')
else:
    print ('no condition matched')
    print ('so a is 5 or less')

no condition matched
so a is 5 or less

### <font color = 'green'>Your Turn</font>

In [11]:
# Write a program that asks for a number and computes the
# square of that number.
# If the square is 100 or greater, print the squared value
# and the word 'big'.
# Otherwise if the square is 50 or greater, print the
# squared value and the word 'medium'.
# Otherwise just print 'too small to bother with'.
# Note: To compute x squared, use x*x or x**2
#
#YOUR CODE HERE

b = int(input("Enter the number:"))
result = b**0.5
print("square root of",b,"is:",result)
b = result
if b >100:
    print ('big')
elif b > 50 and b < 100:
        print ('meduim')
elif b <50:
    print ('too small to bother with')

square root of 5000 is: 70.71067811865476
meduim

### Lists and For-Loops

In [ ]:
# List
a = [2, 4, 7, 9]
print (a)
print (type(a))
print (len(a))

[2, 4, 7, 9]
<class 'list'>
4

In [ ]:
# Iterate through a list 
# imagine as For-each in Java
for x in a:
    print (x, 2 * x)

2 4
4 8
7 14
9 18

In [ ]:
k = range(100)
print(type(k))
print(k)

<class 'range'>
range(0, 100)

In [ ]:
for x in range(100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# Access element by index (starts at zero)
print (a[1])
print (a[3])
# Try a[5]

4
9

In [ ]:
# Prefix, suffix, and section of list
print(a)
print (a[:2]) # prefix
print (a[1:]) # suffix
print (a[1:3]) # middle (subset)

[2, 4, 7, 9]
[2, 4]
[4, 7, 9]
[4, 7]

In [ ]:
# Append to list
a.append(12)
a.append(14)
print (a)

[2, 4, 7, 9, 12, 14]

In [ ]:
# Combine two lists
a = a + [15, 20, 30]
print (a)

[2, 4, 7, 9, 12, 14, 15, 20, 30]

In [ ]:
# List elements can be of different types
a = [1, 'two', 3.0, [4,5,6]]
print (a)
print (type(a))
print (type(a[0]), type(a[1]), type(a[2]), type (a[3]))

[1, 'two', 3.0, [4, 5, 6]]
<class 'list'>
<class 'int'> <class 'str'> <class 'float'> <class 'list'>

### Dictionaries (key-value mappings)

In [ ]:
# Dictionary
a = {'name': 'Mary', 'age': 20, 'gender': 'F'}
print (a)
print (type(a))

{'name': 'Mary', 'age': 20, 'gender': 'F'}
<class 'dict'>

In [ ]:
# Look up value of element by key - most important feature!
print (a['age'])
 #also 
 #try 
a['gender'], a['salary']

20

KeyError: ignored

In [ ]:
a['gender'] = 'M'
print (a['gender'])

M

In [ ]:
# Modify value
a['age'] = 21
print (a)

{'name': 'Mary', 'age': 21, 'gender': 'M'}

In [ ]:
# Iterating through a list of dictionaries
dlist = [{'name':'Mary', 'age':20}, {'name':'John', 'age':30},\
         {'name':'Bill', 'age':10}, {'name':'Susan', 'age':40}] # list of dictionaries


for x in dlist:
    if x['age'] >= 30:
        print (x['name'], 'is old')
    if x['age'] <= 20:
        print (x['name'], 'is young')

Mary is young
John is old
Bill is young
Susan is old

In [ ]:
# Add new key-value pair
a['salary'] = 100
print (a)

{'name': 'Mary', 'age': 21, 'gender': 'M', 'salary': 100}

In [ ]:
# Duplicate keys not allowed - note overwriting behavior
a = {'name': 'BryanDadiz', 'name': 'Professor'}
print (a)

{'name': 'Professor'}

### <font color = 'green'>Your Turn</font>

In [10]:
# Below is code that creates a list of four items,
# represented as dictionaries specifying each item's
# color and size.
# Add code to ask for a number, then print the color of all
# items whose size is greater than that number.
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},\
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
a = input('input number')

for i in items:
    if i['size'] > int(a):
        print (i['color'])

#YOUR CODE HERE - You should only need to add four lines of code!\

red
blue
green
yellow

### While-Loops

In [ ]:
# Echo user input, 0 indicates stop
a = input('Enter a number, 0 to stop: ')
while int(a) != 0:
    print (a)
    a = input('Enter a number, 0 to stop: ')
print ('Done')
# Change to while True and break

Enter a number, 0 to stop: 1
1
Enter a number, 0 to stop: 2
2
Enter a number, 0 to stop: 0
Done

### <font color = 'green'>Your Turn</font>

In [ ]:
# Copy-paste your program from the previous Your Turn and revise
# it to a loop that repeatedly asks for two numbers and prints the
# color of all items whose size is between the two numbers, i.e.,
# whose size is higher than the first number and lower than the
# second number.
# If the user's second number is equal to or smaller than
# the first number, the program should print 'Done' and stop.
# Note: for the "and" of two conditions C1 and C2, use "C1 and C2"
#YOUR CODE HERE

### Functions (just FYI)

In [ ]:
# Create a function with no arguments or return value
def simple():
    print ('This function has no arguments or return value')

simple()

This function has no arguments or return value

In [ ]:
# Call the function five times
for i in range(5):
    simple()

This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value

In [ ]:
# Create a function with arguments and a return value
def addthem(a, b):
    return a + b

addthem(1, 5)

6

In [ ]:
# Call the function five times
for i in [1,2,3,4,5]:
    print (i, i+1, addthem(i,i+1))

1 2 3
2 3 5
3 4 7
4 5 9
5 6 11

In [ ]:
# create a function square
def sqr(a):
    c  = a ** a
    return c

sqr(3)

27

In [ ]:
# recall the function inside another function
def cube(b):
    print (type(b))
    print (sqr(b)*b)  # from the square function


cube(2)

<class 'int'>
8

### <font color = 'green'>Your Turn</font>

In [ ]:
# Copy-paste your program from the previous Your Turn and revise
# Be able to create a function that will print even numbers from 1 - 100
# use a function name evenNumbers()
#YOUR CODE HERE

In [ ]:
def evenNumber():
  for x in range(100):